[TEMPLATE]
<PARTY_A: ACCOUNT> GACRXFZW4PGIOZW27YRIAGDFFWSSMJ7TAPWIZOYMC6WIP5ZKFVF3C3PK </PARTY_A>
<ESCROW_ACCOUNT: NEW_ACCOUNT> </ESCROW_ACCOUNT>
<AMOUNT: NUMBER> 276 </AMOUNT>
<CURRENCY: ASSET> XLM:native </CURRENCY>
<PARTY_A_WEIGHT: NUMBER> 1 </PARTY_A_WEIGHT>
<PAY_WEIGHT: NUMBER> 2 </PAY_WEIGHT>

[EXECUTION]
tx1.tx [PARTY_A]
tx2.tx [PARTY_A, ESCROW_ACCOUNT]