[TEMPLATE]
<PARTY_A: ACCOUNT> GDB73ZJ6EFD3IDHTMNOCO45TDPEGLTKD7IQJKV6UAM7VEPMIQF5DHDY5 </PARTY_A>
<PARTY_B: ACCOUNT> GDBCY4MY455XCZAFTXRYBATLJRWMGBCGIJFSJ2T2ZAW7TUXBANJYZZZD </PARTY_B>
<ESCROW_ACCOUNT: NEW_ACCOUNT> GAVA2VMYBC7VZLAAH73QM25NSG2BOFFV2WFMJGBRIF6CFJECFZ7BBBQI </ESCROW_ACCOUNT>
<AMOUNT: NUMBER> 276 </AMOUNT>
<CURRENCY: ASSET> XLM:native </CURRENCY>
<PARTY_A_WEIGHT: NUMBER> 1 </PARTY_A_WEIGHT>
<PAY_WEIGHT: NUMBER> 2 </PAY_WEIGHT>

[EXECUTION]
Setup.tx
PARTIAL Payout.tx
TIMED 10000000000 Reimburse.tx