[TEMPLATE]
<PARTY_A: ACCOUNT> </PARTY_A>
<PARTY_B: ACCOUNT> </PARTY_B>
<ESCROW_ACCOUNT: NEW_ACCOUNT> </ESCROW_ACCOUNT>
<AMOUNT: NUMBER> </AMOUNT>
<CURRENCY: ASSET> </ASSET>
<PARTY_A_WEIGHT: NUMBER> 1 </PARTY_A_WEIGHT>
<PAY_WEIGHT: NUMBER> 2 </PAY_WEIGHT>

[EXECUTION]
Setup.tx
PARTIAL Payout.tx
TIMED 10000000000 Reimburse.tx